node_modules/
npm-debug.log
.env

# OS

.DS_Store
Thumbs.db

# Logs

logs
*.log

# Kubernetes

*.tmp

# VS Code

.vscode/

# Docker

.dockerignore

key.json

# Local clone of the separate Kubernetes configuration repository
kubernetes-project-config/
